################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QL_BanVeXeKhach/.vs/QL_BanVeXeKhach/v16/Server/sqlite3/db.lock
