<!--**************************************** dedicate to you *****************************************************-->
<div class="dedicate pt-5">
    <div class="dedicate-heading text-center">
        <h1>Dành Riêng Cho Bạn</h1>
        <p>Địa điểm nổi bật có giá tốt nhất</p>
    </div>
    <div class="dedicate-content">
        <div class="dedicate-item-bg">
            <div class="dedicate-item">
                <img width="100%" src="~/Assets/images/dedicate/1.png" />
                <div class="dedicate-item-content">
                    <div class="content">
                        <h2>Khách sạn Dani Vania</h2>
                        <span>631.000 đ</span><span>700.000 đ</span>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="dedicate-item-bg">
            <div class="dedicate-item">
                <img width="100%" src="~/Assets/images/dedicate/2.png" />
                <div class="dedicate-item-content">
                    <div class="content">
                        <h2>Khách sạn Dani Vania</h2>
                        <span>631.000 đ</span><span>700.000 đ</span>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="dedicate-item-bg">
            <div class="dedicate-item">
                <img width="100%" src="~/Assets/images/dedicate/3.png" />
                <div class="dedicate-item-content">
                    <div class="content">
                        <h2>Khách sạn Dani Vania</h2>
                        <span>631.000 đ</span><span>700.000 đ</span>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="dedicate-item-bg">
            <div class="dedicate-item">
                <img width="100%" src="~/Assets/images/dedicate/4.png" />
                <div class="dedicate-item-content">
                    <div class="content">
                        <h2>Khách sạn Dani Vania</h2>
                        <span>631.000 đ</span><span>700.000 đ</span>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="dedicate-item-bg">
            <div class="dedicate-item">
                <img width="100%" src="~/Assets/images/dedicate/5.png" />
                <div class="dedicate-item-content">
                    <div class="content">
                        <h2>Khách sạn Dani Vania</h2>
                        <span>631.000 đ</span><span>700.000 đ</span>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .dedicate-heading h1 {
        font-size: 35px;
    }

    .dedicate-content {
        display: flex;
        justify-content: space-between;
    }

    .dedicate-item-bg {
        width: 20%;
        padding: 5px;
    }

    .dedicate-item {
        box-shadow: 3px 3px 10px #ccc;
    }

    .dedicate-item-content {
        background: #ccc;
        display: flex;
        font-weight: 500;
        padding: 5px;
    }

        .dedicate-item-content .content {
            width: 80%;
        }

            .dedicate-item-content .content h2 {
                font-size: 20px;
            }

            .dedicate-item-content .content span {
                font-size: 16px;
                margin-right: 10px;
                color: red;
            }

                .dedicate-item-content .content span:last-child {
                    text-decoration: line-through;
                    color: gray;
                }

        .dedicate-item-content .icon {
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
</style>
<div class="highlight pt-5">
    <div class="highlight-heading text-center mb-4">
        <h1>Địa Điểm Nổi Bật</h1>
        <p>Những Địa Điểm nổi Bật Ở Việt Nam</p>
    </div>
    <div class="container highlight-content">
        <div class="row">
            <div class="col-md-3">
                <div class="highlight-item">
                    <img width="100%" src="~/Assets/images/dedicate/5.png" />
                    <div class="content text-center">
                        <h2>Phan Thiết</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="highlight-item">
                    <img width="100%" src="~/Assets/images/dedicate/5.png" />
                    <div class="content text-center">
                        <h2>Phan Thiết</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="highlight-item">
                    <img width="100%" src="~/Assets/images/dedicate/5.png" />
                    <div class="content text-center">
                        <h2>Phan Thiết</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="highlight-item">
                    <img width="100%" src="~/Assets/images/dedicate/5.png" />
                    <div class="content text-center">
                        <h2>Phan Thiết</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="highlight-item">
                    <img width="100%" src="~/Assets/images/dedicate/5.png" />
                    <div class="content text-center">
                        <h2>Phan Thiết</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="highlight-item">
                    <img width="100%" src="~/Assets/images/dedicate/5.png" />
                    <div class="content text-center">
                        <h2>Phan Thiết</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="highlight-item">
                    <img width="100%" src="~/Assets/images/dedicate/5.png" />
                    <div class="content text-center">
                        <h2>Phan Thiết</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="highlight-item">
                    <img width="100%" src="~/Assets/images/dedicate/5.png" />
                    <div class="content text-center">
                        <h2>Phan Thiết</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .highlight-heading h1 {
        font-size: 35px;
    }

    .highlight-content .row > div {
        padding-left: 10px;
        padding-right: 10px;
    }

    .highlight-item {
        position: relative;
        border-radius: 10px;
        margin-top: 20px;
    }

        .highlight-item img {
            border-radius: 10px;
        }

        .highlight-item .content {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #2d3d4e;
            color: #ffffff;
            width: 100%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

            .highlight-item .content h2 {
                color: #ffffff;
                font-size: 25px;
                padding: 5px;
                margin: 0;
            }
</style>